/*
Page container
*/
.wrapper{
	max-width:1020px;
	margin:0 auto;
	padding:0 10px;
}

/*------------------------------------*\
	GRIDS
\*------------------------------------*/
/*
Most frameworks rely on class="end" or similar to remove the margin from the last column in a row of grids. We don't want to do that so we use a combination of margin- and negative margin-left. It's clever...
We also allow you to use grid items as stand alone columns or in a series of columns. To use a series just wrap them all in <div class="grids">...</div>
*/
.grids{
	max-width:1040px;
	clear:both;
	margin:0 0 0 -1.923%;
	list-style:none; /* So we can make grids out of lists. */
}

/*
Here we are using an attribute selector to detect the string 'grid-' in an element's class.
This works by assuming that anything we call grid- we also want to be a grid item. It means less code and less for you to remember!

Ensure any grid item's FIRST class is a grid- class. e.g.
VALID: class="grid-4 text-centre"
INVALID: class="left grid-4"
*/
[class^="grid-"]{
	float:left;
	margin:0 1.923% 0 0;
}
.grids [class^="grid-"]{
	margin:0 0 0 1.923%;
}

/*
Nested grids won't work with fluid layouts :(
*/

.grid-1{ width:5.769% }
.grid-2{ width:13.462% }
.grid-3{ width:21.154% }
.grid-4{ width:28.846% }
.grid-5{ width:36.538% }
.grid-6{ width:44.231% }
.grid-7{ width:51.923% }
.grid-8{ width:59.615% }
.grid-9{ width:67.308% }
.grid-10{ width:75% }
.grid-11{ width:82.692% }
.grid-12{ width:90.385% }
.grid-13{ width:98.077%; margin:0; }