/**
 * Overrrides for the site css in the admin WYSIWYG area
 * @author John Pennypacker <jpennypacker@uri.edu
 */

body {
	background-image: none;
	font-size: 12px;
	margin: 10px;
}


h1, h2 {
	color: #0d3343;
	font-weight: bold;
	line-height: 1.7;
}
h1, h2, h3 {
	font-family: 'trajan-pro', 'Trajan Pro', Georgia, serif;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 2em;
	margin-bottom: 15px;
}
h3 {
	color: #b7910b;
	font-size: 1.8em;
	margin-bottom: 8px;
}