/* Campus Wide Alert */

.alertbar {
	background: #ff3019; /* Old browsers */
background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	padding: 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	-webkit-box-shadow: inset 0px -2px 2px 2px rgba(168, 20, 3, 0.8);
    box-shadow: inset 0px -2px 2px 2px rgba(168, 20, 3, 0.8);
    -moz-box-shadow: inset 0px -2px 2px 2px rgba(168, 20, 3, 0.8);
}
.alertbar p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}
.alertbar p:last-child {
	margin: 0px;
}
.alertbar p img {
	vertical-align: middle;
	margin-right: 5px;
}
.alertbar p a {
	color: #f7f7f7;
	border-bottom: 1px dotted #102b8c;
}
.alertbar p a:hover {
	color: #0d6990;
	border-bottom: 1px solid #0d6990;
}
#alerthome {
	background-color: #fbdddd;
	padding: 6px;
	text-align: center;
}
#alerthome p {
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
}
#alerthome p img {
	vertical-align: middle;
	margin-right: 5px;
}
#alerthome p a {
	color: #102b8c;
	border-bottom: 1px dotted #102b8c;
	font-weight: bold;
}
#alerthome p a:hover {
	color: #0d6990;
	border-bottom: 1px solid #0d6990;
}

/* Department Alert */

.depalert {
	background-color: #fff59c;
	border: 1px solid #fcc93f;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 6px;
	margin-bottom: 15px;
        background-image: url(../images/sitealert.png);
        background-position: left center;
        background-repeat: no-repeat;
}
.depalert p {
	margin-bottom: 0px !important;
	padding: 0px;
	font-size: 1.1em;
        line-height: normal;
        margin-left: 30px !important;
}
.depalert p img {
	vertical-align: middle;
	margin-right: 5px;
}
.depalert p a {
	color: #102b8c;
	text-decoration: none;
}
.depalert p a:hover {
	color: #0d6990;
	text-decoration: underline;
}