/* ======= DEPARTMENT THEME PATCHES ======= */


[class^="cl-"] {
    
    p {
        margin-bottom: 0;
    }
    
}


#mainpage .subcol {
    
    [class^="cl-"] {
        
        p {
            font-size: .9rem;
            line-height: 1.5;
            margin-bottom: 0;
            //padding-top: 1rem;
            color: inherit;
        }
        
    }
    
}


/* Cards */

.cl-card h3,
.cl-dcard h3 {
    color: #002147 !important;
    margin-bottom: 1.4rem !important;
}

.cl-card p:last-child,
.cl-tiles .cl-card p:last-child {
    padding-bottom: 2rem !important;
}

.cl-dcard p:last-child,
.cl-tiles .cl-dcard p:last-child {
    padding-bottom: 1rem !important;
}

/* Panels */

.cl-panel figure {
    margin-bottom: 0 !important;
}


/* Notices */

.cl-notice h1 {
    font-family: 'Arial', sans-serif !important;
}

.cl-notice p {
    margin-bottom: 0 !important;
    margin-top: .8rem !important;
}