/* New Home Connect Bar */

#connect {
	text-align: right;
}

#connect p {
	font-size: .950em;
	color: #222;
	margin: 0px;
	padding: 0px;
}

#connect p a {
	color: #444;
}

#connect img {
	margin-right: 10px;
	vertical-align: middle;
}

#connect a img {
	opacity: .6;
}

#connect a:hover img {
	opacity: 1;
}