/* Department Banners Full Image Links, Slightly alternate style */


#deptbanner a.deptpic {
	max-width: 190px;
    background-image: url(../images/headers/path.jpg);
	height: 90px;
	border: 2px solid #fff;
	display: block;
	text-indent: -99999px;
	background-repeat: no-repeat;
}

#deptbanner .uribs {
	background-image: url(../images/uribigstory.jpg);
}

#deptbanner .uridefault {
	background-image: url(../images/uri-minidefault.jpg);
}

#deptbanner .uribt {
	background-image: url(../images/uribigthinkers.jpg);
}

#deptsec {
	color: #fff;
}

#deptsec h1 {
	font-size: 2.7em;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	color: #fff;
	line-height: normal;
	font-weight: normal;
	font-family: trajan-pro, sans-serif;
}

#deptsec h1 a {
	color: #d9b535;
}

#deptsec h1 a:hover {
	color: #fff;
}

#deptsec h1 img {
	vertical-align: middle;
	margin-right: 5px;
}

#deptsec h1 a img {
	opacity: .7;
}

#deptsec h1 a:hover img {
	opacity: 1;
    transition: opacity .25s ease-in;
}

#deptsec p {
	margin: 0px;
	padding: 0px;
	color: #f7f7f7;
	font-size: 1em;
	line-height: 1.4;
}

#deptsec p a {
	color: #fff;
}

#deptsec p a:hover {
	color: #f7f7f7;
}

#extrabutton {
	margin-top: 40px;
	float: right !important;
}

#extrabutton a {
	background-color: #415b94;
	padding: 5px;
	border: 1px solid #5f77ad;
	color: #fff;
	font-size: 1em;
	opacity: .8;
	font-weight: bold;
	display: block;
}

#extrabutton a:hover {
	opacity: 1;
    transition: all .20s ease-in;
}

#extrabutton a img {
	vertical-align: middle;
	margin-right: 8px;
}