/* HEADER */

/* NOT SURE IF THESE ARE USED...

#header {
	width: 100%;
	vertical-align: middle;
}

#header.singlepage {
	margin: 0px;
	padding-bottom: 20px;
}

#header .center {
	width: 1000px;
	margin: 0 auto;
}

#header .logo {
	float: left;
	width: 173px;
	margin-right: 90px;
	border-right: 1px solid #0e356b;
	padding-right: 20px;
}

#header .logo .urilogo {
	text-indent: -99999px;
	background-image: url(images/logo-125.png);
	display: block;
	width: 171px;
	height: 56px;
}

#header .logo .urilogo:hover {
	background-position: -171px 0;
}

#header .tb {
	float: left;
	width: 231px;
	margin-top: 10px;
	border-left: 1px solid #0e356b;
	padding-left: 20px;
	margin-right: 20px;
}

#header .quick {
	width: 300px;
	float: right;
	text-align: right;
	margin-top: 20px;
}

#header .quick img {
	vertical-align: middle;
	margin-right: 5px;
}

#header .quick a {
	color: #fff;
	padding: 6px;
	margin-right: 10px;
}

#header .quick a:hover {
	color: #ddb93a;
}

*/

#head {
	width: 100%;
	vertical-align: middle;
}

.homepage {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sub {
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0px;
}

#head.singlepage {
	margin: 0px;
	padding-bottom: 20px;
}

#head .center {
	width: 1000px;
	margin: 0 auto;
}

#head .logo .urilogo {
	text-indent: -99999px;
	background-image: url(images/logo-125.png);
	display: block;
	width: 171px;
	height: 56px;
}

#head .logo .urilogo:hover {
	background-position: -171px 0;
}

#head .tb {
	float: left;
	width: 231px;
	margin-top: 10px;
	border-left: 1px solid #0e356b;
	padding-left: 20px;
	margin-right: 20px;
}

.quick {
	text-align: right !important;
	margin-top: 20px;

	a {
		background-position: 0 50%;
		background-repeat: no-repeat;
		color: #fff;
		padding: 6px;
		padding-left: 22px;
		margin-right: 10px;

		&:hover {
			color: #ddb93a;
		}
	}

	.mail {
		background-image: url(images/quick/mail.png);
	}
	.sakai {
		background-image: url(images/quick/sakai.png);
	}
	.rhodynet {
		background-image: url(images/quick/rhodynet.png);
	}
	.ecampus {
		background-image: url(images/quick/ecampus.png);
	}
}



#head .sf {
	margin-top: 15px;
	vertical-align: middle;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #C5EDFA;
	font-size: 1.2em;
}

#head .sf form {
	margin: 0px;
	padding: 0px;
}

#head .sf input {
	margin: 0px;
	padding: 0px;
}

#head .sf input[type=submit] {
    float: right;
    display: inline;
}

#head .sf input[type="text"] {
	width: 80%;
	border: 0px;
	color: #555;
	float: left;
	display: inline;
	background-color: transparent;
}