/* Key Points -- New Bottom Layer for the homepage showcasing spotlighted items with images, big headlines, and brief post excerpts */

/* NOT SURE IF THESE ARE USED...

#key {
	margin-bottom: 25px;
}
#key .two p {
	color: #777;
}
#key .youtube {
	border: 5px solid #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	margin-bottom: 10px;
}
#key .tvtext p {
	border-top: 5px solid #ccc;
	padding-top: 5px;
}
#key .inlinefloat {
	float: left;
	margin-right: 10px;
	display: inline;
}
#key a img {
	margin-bottom: 5px;
	border: 5px solid #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#key .ti {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}
#key .ti h3 {
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
	line-height: 1.3;
	margin-bottom: 5px;
}
#key .ti h3 a {
	color: #022972;
}
#key .ti h3 a:hover {
	color: #111;
}
#key .ti .date {
	font-weight: normal;
	color: #5e6063;
	font-style: italic;
}
#key ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#key ul li {
	list-style-type: none;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
#key h2 {
	color: #0d3343;
	font-size: 1.8em;
	line-height: 1;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}
#key h2 a {
	color: #0d3343;
}
#key h2 a:hover {
	color: #111;
}
#key a.todayfeed {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/todayfeed.png);
	float: right;
	background-repeat: no-repeat;
	background-position: right center;
	opacity: .7;
	cursor: pointer;
}
#key a.youtubefeed {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/youplay.png);
	float: right;
	background-repeat: no-repeat;
	background-position: right center;
	opacity: .7;
	cursor: pointer;
}
#key a.newsfeed {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/lightbulb.png);
	float: right;
	background-repeat: no-repeat;
	background-position: right center;
	opacity: .7;
	cursor: pointer;
}
#key a.todaynews {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/news.png);
	float: right;
	background-repeat: no-repeat;
	background-position: right center;
	opacity: .7;
	cursor: pointer;
}
#key a.todayfeed:hover, #key a.youtubefeed:hover, #key a.newsfeed:hover, #key a.todaynews:hover {
	opacity: 1;
 -webkit-transition: opacity .15s ease-in;
 -moz-transition: opacity .15s ease-in;
 -o-transition: opacity .15s ease-in;
 transition: opacity .15s ease-in;
	cursor: pointer;
}
#key p {
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
	font-size: 1.1em;
	color: #333;
}
#key p a {
	color: #002147;
}
#key p a:hover {
	color: #d0a627;
}
#key p a.specialpg:hover {
	color: #222;
}

*/