/* Main Layout */

.skiplinks {
	text-indent: -99999px;
	float: left;
}

.skiplinks:focus-within {
	text-indent: 0;
	float: none;
}

/** hold-over from inuit.css SHARED section **/
hr, address {
	margin-bottom: 1.5rem;
}

#dept-notice {
 	&.hidden {
 		display: none;
 	}
	&.blue, &.green, &.yellow, &.orange, &.red {
		border-color: #E9F2F9;
		border-style: solid;
		border-width: 1px;
 		display: block;
		font-size: 14px;
		margin-bottom: 1em;
		padding: .75em;
	}
	&.blue {
		background-color: #E9F2F9;
 		border-color: #002147;
 	}
	&.green {
		background-color: #E5F7D2;
 		border-color: #78D000;
 	}
	&.yellow {
		background-color: #F3EACD;
 		border-color: #C59700;
 	}
	&.orange {
		background-color: #FDEDD2;
 		border-color: #f6a623;
 	}
	&.red {
		background-color: #F7CCD1;
 		border-color: #d0011b;
 	}
}

.quickinfo {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	background-color: #E0ECF8;
	h2 {
		margin: 0 0 1.5rem !important;
	}
}

/* NOT SURE IF THESE ARE USED...

#mc {
	width: 1000px;
	background-image: url(images/fauxbg.png);
	background-repeat: repeat-y;
	padding-bottom: 10px;
	border-bottom: 1px solid #3f6fbb;
	margin-bottom: 9px;
}
#mc h3 {
	color: #e5c245;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}
#mc h3 a {
	color: #e5c245;
}
#mc h3 a:hover {
	color: #B6E8FA;
}
#mc h3 .type {
	font-weight: normal;
	text-transform: uppercase;
}
#mc p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
#mc p a {
	color: #fff;
}
#mc p a:hover {
	color: #B6E8FA;
}
#mc .sli {
	margin-bottom: 20px;
}
#mc .sli p {
	font-size: 1.1em;
	line-height: 1.4;
}
#mc .sli p a {
	color: #fff;
}
#mc .sli p a:hover {
	color: #B6E8FA;
}
#mc .sli img {
	float: right;
	margin-left: 10px;
}
#mc .sli a img {
	padding: 2px;
	border: 1px solid #fff;
}
#mc .item {
	margin-bottom: 20px;
}
.col1 {
	width: 200px;
	float: left;
	font-size: 1.2em;
	margin-right: 10px;
}
.col1 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.col1 ul li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.col1 ul li a {
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
	color: #fff;
}
.col1 ul li a:hover {
	background-image: url(images/col.gif);
	background-repeat: repeat-y;
	color: #201c1c;
}
.col2 {
	width: 240px;
	float: left;
	margin-right: 35px;
}
.col2 .head {
	background-image: url(images/col2head.png);
	width: 100%;
	height: 26px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.col3 {
	width: 240px;
	float: left;
	margin-right: 35px;
}
.col3 .head {
	background-image: url(images/col3head.png);
	width: 100%;
	height: 26px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.col4 {
	width: 240px;
	float: right;
}
.col4 .head {
	background-image: url(images/col4head.png);
	width: 100%;
	height: 26px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
#mc a.moretoday {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #d6af17;
	padding: 5px;
	color: #002259;
	font-weight: bold;
	float: left;
}
#mc a.morenews {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #d6af17;
	padding: 5px;
	color: #002259;
	font-weight: bold;
	float: right;
}
#mc a.moretoday:hover, #mc a.morenews:hover {
	background-color: #bfe2ee;
}

*/

#mainpage {
	width: 100%;
	padding-top: 20px;
}

#mainpage .wrap {
	max-width: 1000px;
	margin: 0 auto;
	padding: 9px 9px 0;
	border: 1px solid #dcdbdb;
	background-color: #fff;
}

.hpes {
	padding-right: 5%;
	padding-left: 5%;
}

#mainpage .one .expandnav,
#mainpage .onefull .expandnav {
	display: none;
}

#mainpage .one ul, 
#mainpage .onefull ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.3em;
	font-family: Arial, sans-serif;
    margin-left: 10px;
}

#mainpage .one ul li, 
#mainpage .onefull ul li {
	list-style-type: none;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 1px;
    text-indent: -10px;
}

#mainpage .one ul li:last-child, 
#mainpage .onefull ul li:last-child {
    border-bottom: 0px;
}

#mainpage .one ul li ul.sub-menu,
#mainpage .onefull ul li ul.sub-menu {
    font-size: .9em;
    margin: 0px;
    padding: 0px;
}

#mainpage .one ul li ul.sub-menu li, 
#mainpage .onefull ul li ul.sub-menu li {
    border: 0px;
    list-style-type: none;
    margin-bottom: 5px;
    margin: 0px;
}

#mainpage .one ul li a, 
#mainpage .onefull ul li a {
	display: block;
	padding: 5px;
	color: #1a4e63;
	font-weight: bold;
}

#mainpage .one ul li a:hover, 
#mainpage .onefull ul li a:hover {
	color: #04729f;
}

#mainpage .one h2, 
#mainpage .onefull h2 {
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	line-height: normal;
	margin-bottom: 5px;
	font-weight: normal;
	text-shadow: 1px 1px white, -1px -1px #444;
}

#mainpage .one h4, 
#mainpage .onefull h4 {
    border-bottom: 1px solid #E8E8E8;
    color: #D9AA00;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
}

#mainpage .one .box, 
#mainpage .onefull .box {
    margin-top: 15px;
    margin-bottom: 15px;
}

#mainpage .two {
	padding-left: 24px;
	border-left: 1px solid #ccc;
	padding-right: 24px;
	border-right: 1px solid #ccc;
}

#mainpage .subcol {
	padding-left: 24px;
	border-left: 1px solid #ccc;
}

#mainpage .two .title, 
#mainpage .subcol .title, 
#mainpage .fullcol .title {
	margin-bottom: 5px;
}

#mainpage .two h1, 
#mainpage .subcol h1, 
#mainpage .fullcol h1 {
	font-family: 'trajan-pro', Lucida Grande, Geneva, Arial, Helvetica, sans-serif;
	font-size: 2.6em;
	line-height: 1.7;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #0d3343;
}
.wf-active #mainpage .fullcol h1 {
	text-transform: lowercase;
}

#mainpage .two h2, 
#mainpage .subcol h2, 
#mainpage .fullcol h2 {
	font-family: 'trajan-pro', Lucida Grande, Geneva, Arial, Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1.7;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #0d3343;
}
.wf-active #mainpage .two h2, 
.wf-active #mainpage .subcol h2, 
.wf-active #mainpage .fullcol h2 {
	text-transform: lowercase;
}


#mainpage .two h3, 
#mainpage .subcol h3, 
#mainpage .fullcol h3 {
	font-family: 'trajan-pro', Lucida Grande, Geneva, Arial, Helvetica, sans-serif;
	color: #b7910b;
	font-size: 1.8em;
	margin: 0px;
	padding: 0px;
	margin-bottom: 8px;
}
.wf-active #mainpage .two h3, 
.wf-active #mainpage .subcol h3, 
.wf-active #mainpage .fullcol h3 {
	text-transform: lowercase;
}

/** style previously unstyled h4-h6 */
.two, .subcol, .fullcol {
	h4, h5, h6 {
		color: #404040;
		font-size: 1.5em;
		margin: 0 0 8px;
		padding: 0;
	}
	h5 {
		font-size: 1.25em;
	}
	h6 {
		font-size: 1em;
	}
}

#mainpage .two .tagline, 
#mainpage .subcol .tagline {
	font-family: "liberation-serif-1", "liberation-serif-2", serif;
	font-size: 1.8em;
	color: #555;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 5px;
}

#mainpage .two p, 
#mainpage .subcol p {
	font-size: 1.2em;
	line-height: 1.8;
	color: #002147;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#mainpage .two p.wp-caption-text, 
#mainpage .subcol p.wp-caption-text {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	color: #333;
	padding: 0px;
	line-height: 1.4;
	margin-top: 5px;
}

#mainpage .two ul, 
#mainpage .subcol ul, 
#mainpage .two ol, 
#mainpage .subcol ol {
	margin: 0px;
	padding: 0px;
	margin-left: 25px;
	margin-bottom: 20px;
	font-size: 1.2em;
}

#mainpage .two ul li, 
#mainpage .subcol ul li, 
#mainpage .two ol li, 
#mainpage .subcol ol li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	color: #333;
	line-height: 1.8;
}

#mainpage .two ul li a, 
#mainpage .subcol ul li a, 
#mainpage .two ol li a, 
#mainpage .subcol ol li a {
	color: #0a6dd0;
	text-decoration: underline;
}

#mainpage .two ul li a:hover, 
#mainpage .subcol ul li a:hover, 
#mainpage .two ol li a:hover, 
#mainpage .subcol ol li a:hover {
	color: #024a92;
	text-decoration: none;
}

#mainpage .two .entry .alignright, 
#mainpage .subcol .entry .alignright {
	float: right;
    margin: 5px 0 5px 25px;
	display: inline-block;
}

#mainpage .two .entry .alignleft, 
#mainpage .subcol .entry .alignleft {
	float: left;
    margin: 5px 25px 5px 0;
	display: inline-block;
}

#mainpage .two .entry .aligncenter, 
#mainpage .subcol .entry .aligncenter {
	display: block;
	margin: 5px auto;
}

#mainpage .two .entry p.notice, 
#mainpage .subcol .entry p.notice {
	border-radius: 4px;
	border: 1px solid #d8b534;
	background-color: #f2e7c1;
	padding: 4px;
}

#mainpage .two .title a.ical, 
#mainpage .subcol .title a.ical {
	color: #fff;
	background-color: #8ec734;
	padding: 4px;
	border-radius: 4px;
	float: right;
	font-size: .8em;
}

#mainpage .three .sidebarwidget {
	margin-bottom: 10px;
}

#mainpage .three li {
	list-style-type:  none;
}

#mainpage .three {
	 h1, h2, h3 h4, h5, h6 {
		color: #404040;
		font-weight: bold;
		margin-bottom: 10px;
	}
	h3 {
		/*background-color: #e6bd29;*/
		border-bottom: 1px solid #c4960c;
		display: block;
		/* color: #06234d; */
		font-size: 1.2em;
		text-align: center;
		padding: 4px;
	}
	h1, h2 {
		font-size: 1.25em;
	}
	h4, h5 {
		font-size: 1.125em;
	}
	h6 {
		font-size: 1em;
	}
}


#mainpage .three p {
	line-height: 1.7;
	color: #002147;
}

#mainpage .three p a {
	color: $link;
}

#mainpage .three p a:hover {
	color: $hover;
}

#mainpage .three ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#mainpage .three ul li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#mainpage .three ul li a {
	color: $link;
}

#mainpage .three ul li a:hover {
	color: $hover;
}


/* Back and forth page navigation */

#mainpage .navigation a {
	background-color: #e1e7ec;
	padding: 4px;
	color: #1286e0;
	font-weight: bold;
}

#mainpage .navigation a:hover {
	background-color: #def0fb;
	color: #021a46;
}

#mainpage .navigation {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: double #e2e2e2;
	border-bottom: double #e2e2e2;
}

#mainpage .navigation .alignleft {
	float: left;
}

#mainpage .navigation .alignright {
	float: right;
}


/* Tag Links */

#mainpage .two .entry .taglist p, 
#mainpage .subcol .entry .taglist p {
	color: #666;
	font-weight: bold;
}


/* Additional Styles */

.chunk {
	border : 1px solid #999 ;
	border-radius : 15px ;
	background-color : #fafafa ;
	box-shadow : 3px 3px 5px #999 ;
	padding : 20px ;
	margin : 20px 0px ;
	line-height : 1.2 ; 
}

.super-chunk {
	background-color : #fafafa ;
	border : 0 ;
	border-top : 4px solid #ccc ;
	border-bottom : 4px solid #ccc ;
	padding : 20px ;
	margin : 20px 0px ;
	line-height : 1.2 ; 
}

.border {
	border: 1px solid #dcdbdb;
	background-color: #fff;
}

.contentmain {
	margin-top: 35px;
}

.content_box {
	float : left;
	width : 37%;
	margin : 10px;
	padding : 10px;
	border : 1px solid #999;
	box-shadow : 3px 3px 8px #999;
	height : 300px;
}
.prettypic {
	width: 45%;
	height: auto;
	margin : 20px;
	padding : 4px;
	box-shadow : 3px 3px 8px #999;
}
.issues {
	width:100%;
	background-color:#efefef;
	padding: 10px;
	float:left;
	margin-top:15px;
	margin-bottom:15px;
}
.issues .thumb {
	float: left;
	margin: 8px;
	width:136px;
	text-align:center;
	border:solid 1px #333
}
.issues .thumb .image {
	width:130px;
	height: 169px;
	margin:3px;
}
.issues .footer {
	text-align:center;
	width: 136px;
	border-top:solid 1px #333;
	color:#999;
	font-weight:bold;
	padding-top: 7px;
	padding-bottom:7px;
	margin-top: 10px;
}