#mainpage #sresults {
	margin-top: 20px;
}
#mainpage #sresults h3 {
	font-size: 1.2em;
	line-height: 1.2;
	margin: 0px;
	padding: 0px;
	margin-bottom: 8px;
}
#mainpage #sresults h3 a {
	color: #268fbb;
}
#mainpage #sresults h3 a:hover {
	color: #0c506c;
}
#mainpage #sresults p {
	margin: 0px;
	padding: 0px;
	color: #002147;
}
#mainpage #sresults .resultitem {
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#mainpage #sresults .resultitem:hover {
	background-color: #fff;
}
#mainpage #sresults .odd {
	background-color: #f9f2d9;
}
#mainpage #sresults .even {
	background-color: #f1f6f8;
}

/* Live Search Results */

ul.search_results {
	background-color:#fff;
	width:360px;
	padding: 4px;
	position:absolute;
	left:0px;
	display: block;
	overflow:hidden;
	z-index: 9999;
	list-style-type: none;
	list-style-image: none;
	list-style-position: inside;
	padding: 0px;
	margin: 0px;
	padding-top: 8px;
	margin-top: 6px;
	border-right: 1px solid #023447;
	border-left: 1px solid #023447;
	border-bottom: 1px solid #023447;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
ul.search_results li {
	display: block;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	text-decoration: none;
}
ul.search_results li:hover {
	background-color: #f9f2d9;
}
ul.search_results li a, ul.search_results li a:visited {
	color: #155c79;
	margin-left: 0px;
	padding-left: 0px;
	text-decoration: none;
}
ul.search_results p#daves-wordpress-live-search_author {
	margin: 0px;
	font-size: 90%;
	font-weight: bold;
}
ul.search_results p#daves-wordpress-live-search_date {
	margin: 0px;
	font-size: 90%;
}
.search_footer {
	background-color: #023447;
	width: 100%;
	text-align: right;
	padding: .5em 0;
	font-size: .9em;
}
.search_footer a, .search_footer a:visited {
	color: #fff;
	margin-right: 1em;
}