/* Single Post */

.bluebox {
	float: right;
	width: 30%;
	background-color: #F7FCFF;
	border-top: 4px solid #e6f5ff;
	border-bottom: 2px solid #e6f5ff;
	padding: 10px;
	margin: 10px;
}

.metabar {
	border-radius: 4px;
	background-color: #eaf7fc;
	border: 1px solid #9fd6ed;
	font-size: .895em;
	margin-bottom: 15px;
	padding: 4px;
}
#mainpage .metabar p {
	margin: 0px;
	padding: 0px;
	line-height: normal;
	color: #232323;
}
.metabar img {
	vertical-align: middle;
	margin-right: 5px;
}


.metabar p a {
	&:link, &:visited {
		color: $link;
		text-decoration: underline;
	}
	&:hover {
		color: $hover;
		text-decoration: none;
	}
}

#mainpage .entry p a {
	&:link, &:visited {
		color: #0a6dd0;
		text-decoration: underline;
	}
	&:hover {
		color: #000;
		text-decoration: none;
	}
	img {
		border-bottom: 1px solid #fff;
		display: block;
	}
}


#mainpage .entry blockquote {
	margin: 0px;
	padding: 0px;
	border-top: 5px solid #ddb93a;
	padding-top: 5px;
	width: 400px;
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}
#mainpage .entry blockquote p {
	color: #ddb93a;
	font-size: 1.4em;
	line-height: 1.6;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

/* New Layered Look */

#firstlayer {
	background-image: url(images/toplayerbg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #1a3162;
	margin: 0px;
	padding: 0px;
}
#subpagetop {
	background-image: url(images/sbtop.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #07132a;
	padding-top: 5px;
	padding-bottom: 5px;
}
#subpagetop .middle {
	width: 1020px;
	margin: 0 auto;
}
#inbanner .caption h1 {
	color: #fff;
	font-family: "liberation-serif-1", "liberation-serif-2", serif;
	font-size: 3em;
	margin: 0px;
	padding: 0px;
	width: 320px;
	display: block;
	font-weight: normal;
	letter-spacing: 2px;
	float: right;
}