/* Wordmark */

.wmtop {
	background-image: url(../images/wmtop.png);
	height: 42px;
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 5px;
	text-align: right;
}

.wmtop p {
	margin: 0px;
	padding: 0x;
	font-size: .950em;
	line-height: 1;
	color: #014a6c;
	margin-top: 25px;
}

.wmhtop {
	background-image: url(../images/wmhtop.png);
	height: 42px;
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 10px;
}