body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/sbbot.gif);
	background-repeat: repeat;
}

body.singlebody {
	background-image: url(../images/sbbot.gif);
	background-repeat: repeat;
}
a {
	text-decoration: none;
}
a img {
	border: 0;
}
* :focus {
	outline: 0;
}

#top {
	background-color: transparent;
}
.index#top {
	background-color: transparent;
}
.bumped#top {
	background-color: transparent;/*padding-top: 20px;*/
}
#container {
	width: 1020px;
	margin: 0 auto;
	height: 100%;
	background-color: #6e9dc5;
}
#container .insidebg {
	background-image: url(../images/bg04.jpg);
	background-position: top;
	background-repeat: repeat-x;
	padding-bottom: 10px;
}

.whoswho {
	background-image: url(../images/catwho-bg.jpg);
	background-repeat: repeat-x;
}

#wrap {
	/*width: 1000px;*/
	margin: 0 auto;
}

@import 'header';
@import 'globalnav';
@import 'search';
@import 'searchresults';
@import 'mainlayout';
@import 'departmentbanner';
@import 'peoplearchive';
@import 'singlepost';
@import 'singlesidebar';
@import 'singleform';
@import 'footer';
@import 'slider';
@import 'wordmark';
@import 'alerts';
@import 'subnav';
@import 'connect';
@import 'keypoints';

/* Custom Mobile Display Classes */

.nomobile {
	display: none;
}
.mobileonly {
	display: none;
}
/* Print Special

++++++++++++++++++++++++++++++++++

Allows us to hide specific elements except when printing. For more information as to what is hidden and what is visible, please see the print.css or print-letterhead.css

++++++++++++++++++++++++++++++++++

*/


#printtag {
	display: none;
}
.lhwm {
	display: none;
}
.logoprint {
	display: none;
}
#riseal {
	display: none;
}
#pageinfoprint {
	display: none;
}

@import 'singlepage';

/* Extra Classes

++++++++++++++++++++++++++++++++++

Various extra classes which can make in-page content look a whole lot better when applied to various elements, such as tables, etc.

++++++++++++++++++++++++++++++++++

*/

.content_box {
	float : left;
	width : 37%;
	margin : 10px;
	padding : 10px;
	border : 1px solid #999;
	box-shadow : 3px 3px 8px #999;
	height : 300px;
}
.prettypic {
	width: 45%;
	height: auto;
	margin : 20px;
	padding : 4px;
	box-shadow : 3px 3px 8px #999;
}
.issues {
	width:100%;
	background-color:#efefef;
	padding: 10px;
	float:left;
	margin-top:15px;
	margin-bottom:15px;
}
.issues .thumb {
	float: left;
	margin: 8px;
	width:136px;
	text-align:center;
	border:solid 1px #333
}
.issues .thumb .image {
	width:130px;
	height: 169px;
	margin:3px;
}
.issues .footer {
	text-align:center;
	width: 136px;
	border-top:solid 1px #333;
	color:#999;
	font-weight:bold;
	padding-top: 7px;
	padding-bottom:7px;
	margin-top: 10px;
}

@import 'entry';

/* Back and forth page navigation */

#mainpage .navigation a {
	background-color: #e1e7ec;
	padding: 4px;
	color: #1286e0;
	font-weight: bold;
}
#mainpage .navigation a:hover {
	background-color: #def0fb;
	color: #021a46;
}
#mainpage .navigation {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: double #e2e2e2;
	border-bottom: double #e2e2e2;
}
#mainpage .navigation .alignleft {
	float: left;
}
#mainpage .navigation .alignright {
	float: right;
}

@import 'blogarchives';
@import 'comments';

/* Tag Links */

#mainpage .two .entry .taglist p, #mainpage .subcol .entry .taglist p {
	color: #666;
	font-weight: bold;
}

/*
++++++++
Single post styles
++++++++
*/

/* New Layered Look */

#firstlayer {
	background-image: url(../images/toplayerbg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #1a3162;
	margin: 0px;
	padding: 0px;
}
#subpagetop {
	background-image: url(../images/sbtop.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #07132a;
	padding-top: 5px;
	padding-bottom: 5px;
}
#subpagetop .middle {
	width: 1020px;
	margin: 0 auto;
}
#inbanner .caption h1 {
	color: #fff;
	font-family: "liberation-serif-1", "liberation-serif-2", serif;
	font-size: 3em;
	margin: 0px;
	padding: 0px;
	width: 320px;
	display: block;
	font-weight: normal;
	letter-spacing: 2px;
	float: right;
}
/* Archive Stuff */

#mainpage .subcol .archiveitem {
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 1px dotted #e2e2e2;
	padding-bottom: 15px;
}
#mainpage .subcol .archiveitem img {
float: right;
margin-left: 5%;
}
#mainpage .subcol .archiveitem h2 {
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	line-height: normal;
}
#mainpage .subcol .archiveitem h2 a {
	color: #b7910b;
}
#mainpage .subcol .archiveitem h2 a:hover, #mainpage .subcol .archiveitem p a:hover {
	color: #102244;
}
#mainpage .subcol .archiveitem p {
	margin: 0px;
	padding: 0px;
	font-size: 1.3em;
	line-height: 1.6;
	color: #333;
}
#mainpage .subcol .archiveitem p a {
	color: #0a6dd2;
}
#mainpage .subcol h1.archivetitle {
	margin-bottom: 15px;
}
#mainpage .subcol .bottomlinks {
	text-align: center;
}
#mainpage .subcol .bottomlinks a {
	padding: 4px;
	color: #3b548d;
	border: 1px solid #ccc;
	margin-right: 5px;
	margin-left: 5px;
}
#mainpage .subcol .bottomlinks a:hover {
	border: 1px solid #333;
	color: #102244;
	background-color: #fcebad;
}
/* Tags and Archive Paragraph Links */

#mainpage #sresults .resultitem p a {
	color: #0a6dd0;
	border-bottom: 1px solid #fff;
}
#mainpage #sresults .resultitem p a:hover {
	color: #024a92;
	border-bottom: 1px solid #024a92;
}
/* Who bio */

#mainpage .entry .whoimage img {
	padding: 2px;
	border: 1px solid #e2e2e2;
	margin: 0px;
	margin-bottom: 5px;
	float: right;
	margin-left: 15px;
}
#mainpage .entry ul.wholist {
	color: #555;
	font-size: 1.2em;
	line-height: 1.6;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	border-left: 3px solid #f2c21b;
}
#mainpage .entry ul.wholist li {
	list-style-type: square;
	color: #444;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	margin-left: 25px;
}

@import 'announcement';

/* Wrapper border */

.border {
	border: 1px solid #dcdbdb;
	background-color: #fff;
}

@import 'flexslider';

/* Responsive video elements */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.skiplinks {
	text-indent: -99999px;
	display: none;
}

@import 'pagelinks';
@import 'depthomepage';
@import 'sidebar';
@import 'localist';

/* content bump */

.contentmain {
	margin-top: 35px;
}


@import 'buttons';
@import 'mobile';