// SETUP

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/sbbot.gif);
	background-repeat: repeat;
}
body.singlebody {
	background-image: url(../images/sbbot.gif);
	background-repeat: repeat;
}
a {
	text-decoration: none;
}
a img {
	border: 0;
}
*:focus {
	outline: 0;
}
#container {
	width: 1020px;
	margin: 0 auto;
	height: 100%;
	background-color: #6e9dc5;
}
#container .insidebg {
	background-image: url(../images/bg04.jpg);
	background-position: top;
	background-repeat: repeat-x;
	padding-bottom: 10px;
}
.whoswho {
	background-image: url(../images/catwho-bg.jpg);
	background-repeat: repeat-x;
}
#wrap {
	margin: 0 auto;
}

// IMPORTS

@import 'header';
@import 'globalnav';
@import 'search';
@import 'searchresults';
@import 'mainlayout';
@import 'departmentbanner';
@import 'singlepost';
@import 'singlesidebar';
@import 'singleform';
@import 'footer';
@import 'slider';
@import 'wordmark';
@import 'alerts';
@import 'subnav';
// @import 'connect';
// @import 'keypoints';
@import 'printspecial';
@import 'singlepage';
@import 'entry';
// @import 'comments';
@import 'archives';
@import 'announcement';
@import 'flexslider';
@import 'responsivevids';
@import 'pagelinks';
@import 'homepagelayout';
// @import 'sidebar';
@import 'localist';
@import 'buttons';
@import 'mobile';